*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

    /* border: 2px solid darkgreen; */

}


.red-nav{
    background-color: red;
    display: flex;
    justify-content: center;

    align-items: center;


    /* align-items: center; */
    height: 4.2vh;
    color:  white;
    font-size: 14px;
    width: 100%;
}


.main-nav{
    /* background: black; */
    display: flex;
    background-color: rgb(18, 18, 18);
    color: white;
    align-items: center;
    width: 100%;
    box-shadow: 4px 5px 5px 0px rgba(52, 52, 52, 0.75);
    
    /* padding-right: 30px; */
    position: relative;

    height: 9vh;
    padding: 10px;
   
    justify-content: space-around;

}

.logo{
    /* margin-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.logo i{
    display: none;
}

.logo img{
    height: 45px;
}

.center-nav{
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
}

.center-nav li{
    list-style: none;
}

.right-nav{
    display: flex;
    justify-content: space-between;
    width: 22vw;
    align-items: center;
    /* border: 2px solid blue; */
    
    /* margin-right: 30px; */
}

.right-icons{
    display: flex;
    width: 30vw;
    justify-content: space-around;
}

.right-nav input{
    padding: 10px;
    width: 15vw;

    border-radius: 20px;
}
.bi{
    color: white;
    
    font-size: 20px;
}